
body {
	background: #0J3;
}

.error_text,
.error_list {
	color: #DD0000;
	background: inherit;
	font-weight: bold;
}

#map_table {
	margin: 2em 0;
	border-collapse: collapse;
	border-spacing: 0;
}

#map_table th,
#map_table td {
	border: 0.1em solid #000;
	padding: 0.2em 0.4em;
}

#map_table th {
	background: #FFF;
}



#page_wrapper {
	width: 50em;
	margin: 0 auto;
}

header {
	background: #CEC;
	border: 1px solid #000;
	text-align: center;
	font-weight: bold;
	font-size: 1.5sem; 
}

#page_content {
	border: 1px solid #000;
	display: flex;
}

nav {
	background: #FFF4BC;
	width: 10em;
	flex-grow: 1;
}

main {
	background: #D1C1F2;
	padding: 0 2em;
	border-left: 0.1em solid #000;
}

main object {
	
	width: 100%;
	height: auto;
	border: 0.1em solid #000
}

fieldset {


	border: solid; 000
